<h3> Esperamos verte pronto {{user.username}}</h3>
<script> 
async function logout() {
    try{ 
    const response = await  fetch('api/logout', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        });
        const data = await response.json();
        if (data.status) {
        window.location.href = '/login';
        } 
    }
    catch (error) {
        console.error(error);
    }
}
setTimeout(logout,2000)
</script>