<h1>Menú de usuario PapaBear</h1>

<h3> Bienvenido {{user.name}}</h3>
<img style="width:30%" src={{user.avatar}}>
<button><a href='./info'>Ver informacion personal</a></button>
<button><a href='./productos'>Ver Productos</a></button>
<button><a href='./carrito'>Ver Carrito</a></button>
<button id="logout"><a href="./logout">Logout</a></button>