<div class='alert alert-success p-3 d-flex justify-content-between'>
    <h2 class='text-success' style='display: inline'>Bienvenido a nuestra página {{this.name}}</h2>
    <a class='btn btn-warning' href='/logout'>Log Off</a>
</div>