body {
    background: rgb(229, 174, 255);
    background: radial-gradient(
        circle,
        rgb(229, 174, 255) 0%,
        rgba(148, 187, 233, 1) 100%
    );
}

label {
    font-weight: bold;
    font-style: italic;
}

#ventana {
    background: rgb(229, 174, 255);
    background: radial-gradient(
        circle,
        rgb(229, 174, 255) 0%,
        rgba(148, 187, 233, 1) 100%
    );
    color: black;
    padding-left: 5px;
    width: 600px;
    height: 400px;
    border: 3px solid black;
    overflow: auto;
}

#userChat {
    background: rgb(229, 174, 255);
    background: radial-gradient(
        circle,
        rgb(229, 174, 255) 0%,
        rgba(148, 187, 233, 1) 100%
    );
    display: block;
    margin-top: 20px;
    width: 250px;
    border-radius: 3px;
    border: none;
}

#messageChat {
    background: rgb(238, 174, 202);
    background: radial-gradient(
        circle,
        rgba(238, 174, 202, 1) 0%,
        rgba(148, 187, 233, 1) 100%
    );
    display: block;
    margin-top: 10px;
    width: 250px;
    border-radius: 3px;
    border: none;
}

#btnChat {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: 0.25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    margin-top: 30px;
    margin-left: 60px;
}
#btnChat::after {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}
#btnChat:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 0.75em 0.25em var(--glow-color);
}
#btnChat:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 0.5em 0.25em var(--glow-color);
}

#divTest {
    border: 2px solid green;
    width: 600px;
    height: 300px;
    color: black;
}

#clearfix {
    clear: both;
    float: none;
    height: 300px;
}

#tituloListaProductos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

#btnUpdate {
    max-height: 40px;
}

#divChat {
    margin-top: 30px;
}

#btnOldMsg {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: 0.25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}
#btnOldMsg::after {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}
#btnOldMsg:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 0.75em 0.25em var(--glow-color);
}
#btnOldMsg:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 0.5em 0.25em var(--glow-color);
}